<h3>
    <a href="/persona_extra">persona_extra</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="nombre_persona">nombre_persona</label>
    <input required id="nombre_persona" type="text" class="form-control" name="nombre_persona" size="30"/>
</div><div class="form-group">
    <label for="ape_pat_persona">ape_pat_persona</label>
    <input required id="ape_pat_persona" type="text" class="form-control" name="ape_pat_persona" size="30"/>
</div><div class="form-group">
    <label for="ape_mat_persona">ape_mat_persona</label>
    <input required id="ape_mat_persona" type="text" class="form-control" name="ape_mat_persona" size="30"/>
</div><div class="form-group">
    <label for="edad">edad</label>
    <input required id="edad" type="text" class="form-control" name="edad" size="30"/>
</div><div class="form-group">
    <label for="fecha_extravio">fecha_extravio</label>
    <input required id="fecha_extravio" type="text" class="form-control" name="fecha_extravio" size="30"/>
</div><div class="form-group">
    <label for="curp_persona">curp_persona</label>
    <input required id="curp_persona" type="text" class="form-control" name="curp_persona" size="30"/>
</div><div class="form-group">
    <label for="sexo">sexo</label>
    <input required id="sexo" type="text" class="form-control" name="sexo" size="30"/>
</div><div class="form-group">
    <label for="id_user">id_user</label>
    <input required id="id_user" type="text" class="form-control" name="id_user" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>