$def with(persona_extra, message)
<h3>
    <a href="/persona_extra">persona_extra</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_persona" id="id_persona" value="$persona_extra.id_persona" />

    <div class="form-group">
    <label for="nombre_persona">nombre_persona</label>
    <input required id="nombre_persona" type="text" class="form-control" name="nombre_persona" size="30" value="$persona_extra.nombre_persona"/>
</div><div class="form-group">
    <label for="ape_pat_persona">ape_pat_persona</label>
    <input required id="ape_pat_persona" type="text" class="form-control" name="ape_pat_persona" size="30" value="$persona_extra.ape_pat_persona"/>
</div><div class="form-group">
    <label for="ape_mat_persona">ape_mat_persona</label>
    <input required id="ape_mat_persona" type="text" class="form-control" name="ape_mat_persona" size="30" value="$persona_extra.ape_mat_persona"/>
</div><div class="form-group">
    <label for="edad">edad</label>
    <input required id="edad" type="text" class="form-control" name="edad" size="30" value="$persona_extra.edad"/>
</div><div class="form-group">
    <label for="fecha_extravio">fecha_extravio</label>
    <input required id="fecha_extravio" type="text" class="form-control" name="fecha_extravio" size="30" value="$persona_extra.fecha_extravio"/>
</div><div class="form-group">
    <label for="curp_persona">curp_persona</label>
    <input required id="curp_persona" type="text" class="form-control" name="curp_persona" size="30" value="$persona_extra.curp_persona"/>
</div><div class="form-group">
    <label for="sexo">sexo</label>
    <input required id="sexo" type="text" class="form-control" name="sexo" size="30" value="$persona_extra.sexo"/>
</div><div class="form-group">
    <label for="email_user">email_user</label>
    <input required id="email_user" type="text" class="form-control" name="email_user" size="30" value="$persona_extra.email_user"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>