$def with(usuario, message)
<h3>
    <a href="/usuario">usuario</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
<br>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_user" id="id_user" value="$usuario.id_user" />

    <div class="form-group">
    <label for="nombre_user">nombre_user</label>
    <input readonly id="nombre_user" type="text" class="form-control" name="nombre_user" size="30" value="$usuario.nombre_user"/>
</div><div class="form-group">
    <label for="ape_pat_user">ape_pat_user</label>
    <input readonly id="ape_pat_user" type="text" class="form-control" name="ape_pat_user" size="30" value="$usuario.ape_pat_user"/>
</div><div class="form-group">
    <label for="ape_mat_user">ape_mat_user</label>
    <input readonly id="ape_mat_user" type="text" class="form-control" name="ape_mat_user" size="30" value="$usuario.ape_mat_user"/>
</div><div class="form-group">
    <label for="telefono_user">telefono_user</label>
    <input readonly id="telefono_user" type="text" class="form-control" name="telefono_user" size="30" value="$usuario.telefono_user"/>
</div><div class="form-group">
    <label for="email_user">email_user</label>
    <input readonly id="email_user" type="text" class="form-control" name="email_user" size="30" value="$usuario.email_user"/>
</div><div class="form-group">
    <label for="passwd">passwd</label>
    <input readonly id="passwd" type="text" class="form-control" name="passwd" size="30" value="$usuario.passwd"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
</form>
<br>
<br>
<br>